<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход пользователя</title>
</head>
<body>
<h2>Login</h2>
<a href="/publicData">Public Data</a>
<a href="/privateData">Private Data</a>
<form action="/login" method="post">
    <div>
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username"/>
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password"/>
    </div>
    <input type="submit" value="Login"/>
</form>
</body>
</html>