<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Приватная страница</title>
</head>
<body>
    <h1>Добро пожаловать на приватную страницу!</h1>
    <a href="/publicData">Public Data</a>
    <a href="/privateData">Private Data</a>
    <form action="/logout" method="post">
        <button type="submit">LogOut</button>
    </form>
</body>
</html>